body {
    background-color: #e3f2ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    border-radius: 5em;
    align-items: center;
    box-shadow: 0 .1em 1em #6b6b6b;
    margin: .5em;
}

figure {
    width: 10%;
}

#icone {
    height: 5em;
}

h1 {
    width: 40%;
    color: #ffffff;
    text-shadow: .1em .1em .1em #1100ff;
    font-size: 30pt;
}

#menu {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5em;
}

.wrapper {
    background-color: #000000;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    cursor: pointer;
    padding: .5em;
    transition: .5s ease-in-out;
}

.checkbox .trace {
    width: 80%;
    height: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    transition: .5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 10px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 20px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 30px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 20px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(20px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 20px;
}

/*Menu*/

.background-menu {
    position: absolute;
    background-color: #0400ff;
    top: -300px;
    right: -300px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: -1;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-itens {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out;
}

.menu-itens ul {
    list-style-type: none;
}

.menu-itens ul li a {
    width: 100%;
    margin: 1em 0 1em 0;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18pt;
    padding: .4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-itens ul li a:hover {
    color: #ffffff;
    box-shadow: 0 0 1em #101013;
    border-radius: 5em;
    transition: all 400ms;
}


/*Animação menu*/

#toggle:checked ~ .checkbox {
    border-radius: 50%;
    background-color: #1100ff;
    z-index: 4;
}

#toggle:checked ~ .background-menu {
    visibility: visible;
    width: 1000px;
    height: 1000px;
    box-shadow: 0 0 4em #000000;
    z-index: 1;
}

#toggle:checked ~ .menu-itens {
    visibility: visible;
    height: 100%;
    width: 50%;
    opacity: 1;
    z-index: 3;
}

article {
    background-color: #ffffff;
    border-radius: 5em;
    margin: .5em;
    padding: 3em;
    box-shadow: 0 .1em 1em #6b6b6b;
}

.page{
    color: #ffffff;
    background-color: #000000;
    padding: .1em;
    text-align: center;
    border-radius: 5em;
    margin-bottom: 1em;
    font-size: 18pt;
    text-shadow: .1em .1em .1em #1100ff;
}

.content {
    margin: 2em;
}

footer {
    background-color: #000000;
    border-radius: 5em;
    margin: .5em;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    box-shadow: 0 .1em 1em #6b6b6b;
}