body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dde4ff;
    margin: 0;
}

body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    background-color: #a1a1a1;
}

body::-webkit-scrollbar-thumb {
    background-color: #0f0092;
}

header, footer{
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: #000000;
    margin: 0;
    border-bottom: .1em solid #383838;
    padding: 0 10% 0 10%;
}

.icone {
    align-self: center;
    width: 100px;
}

.titulo {
    align-self: center;
    width: 70%;
}

h1 {
    color: #ffffff;
}

.version {
    color: #ffffff;
    align-self: center;
    width: 30%;
    text-align: end;
    margin-right: 40px;
}

.version a {
    border-left: .1em solid #a1a1a1;
    text-decoration: none;
    color: #ffffff;
    padding: .5em;
}

.version a:nth-child(3) {
    border-right: .1em solid #a1a1a1;
}

.version a:hover {
    background-color: #383838;
    border-bottom: .2em solid #0f0092;
    transition: .2s;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    height: 2.55em;
    padding: 0 10% 0 10%;
}

.superClass p {
    margin: .7em;
}

.itens {
    height: 10em;
    padding: .4em;
    z-index: 2;
}

.subClass {
    height: 0;
    margin-top: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

.superClass {
    width: 10em;
    height: 2.35em;
    background-color: #000000;
    color: white;
    text-align: center;
}

.superClass:hover {
    background-color: #383838;
    border-bottom: .2em solid #0f0092;
    transition: .2s;
}

.subClass a {
    border-top: 0.1em solid black;
    text-align: center;
}

.itens {
    color: white; 
    text-decoration: none;
    background-color: #383838;
}

.superClass:hover .subClass{
    visibility: visible;
    transition: all .2s;
}

.itens:hover {
    background-color: #222222;
    transition: .2s;
}

article {
    margin: 0 10% 0 10%;
    z-index: 1;
}

.informacoes {
    margin: .5em 0 .5em 0;
    padding: .5em;
    background-color: #def0ff;
    box-shadow: 0 0 .2em #000000;
}

footer p{
    color: #ffffff;
    margin: .3em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10% 0 10%;
}

@media screen and (max-width: 800px) {
    article, figure, .version {
        margin: 5px;
    }

    header, footer,nav {
        padding: 5px;
    }

    .icone {
        width: 50px;
    }

    .icone #logo{
        width: 50px;
    }

    .titulo {
        margin-left: 10px;
    }

    .version{
        font-size: 6pt;
    }

    .superClass {
        font-size: 6pt;
        width: 7em;
        padding: 0;
    }

    nav {
        height: 1.5em;
        padding: 0;
    }

    .superClass p {
        margin: .7em .4em .7em .4em;
    }

    p {
        font-size: 6pt;
    }
    
    h1 {
        font-size: 14pt;
    }

    h2 {
        font-size: 12pt;
    }
}